{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'index.index' %}">
</head>
<body>

<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Zaloguj</button>

<div id="id01" class="modal">

    <form class="modal-content animate" action="" method="post">
        {% csrf_token %}
        <div class="container">
            <label for="uname"><b>Nazwa użytkownika:</b></label>
            <label>
                <input type="text" placeholder="Wprowadź nazwę użytkownika" name="uname" required>
            </label>

            <label for="psw"><b>Hasło</b></label>
            <label>
                <input type="password" placeholder="Wprowadź hasło" name="psw" required>
            </label>

            <button type="submit">Login</button>
{#            <label>#}
{#                <input type="checkbox" checked="checked" name="remember"> Remember me#}
{#            </label>#}
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">
                Cancel
            </button>
        </div>
    </form>
</div>

</body>
</html>