{% extends '__base__.html' %}

{% block content %}
    <h1>Lista klas</h1>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Rok rozpoczęcia</th>
            <th scope="col">Lista uczniów</th>
            <th scope="col">Edytuj klasę</th>
        </tr>
        </thead>
        <tbody>
        {% for c in class_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ c.name }}</td>
                <td>{{ c.year }}</td>
                <td><a href="{% url 'class-details' c.id %}" class="btn btn-info rounded-0 text-light m-1">Lista uczniów</a></td>
                <td><a href="{% url 'class-modify' c.id %}" class="btn btn-danger rounded-0 text-light m-1">Edytuj</a></td>
            </tr>
            {% empty %}
            <ol>Lista pusta</ol>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}