{% extends '__base__.html' %}

{% block content %}
    <h1>Nauczyciele</h1>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Imię</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Przedmiot</th>
            <th scope="col">Modyfikuj</th>
            <th scope="col">Usuń</th>
        </tr>
        </thead>
        <tbody>
        {% for t in teacher_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ t.first_name }}</td>
                <td>{{ t.last_name }}</td>
                <td>{% for subject in t.subject.all %} {{ subject }} {% endfor %} </td>
                <td><a href="" class="btn btn-info rounded-0 text-light m-1">Modyfikuj</a></td>
                <td><a href="" class="btn btn-danger rounded-0 text-light m-1">Usuń</a></td>
            </tr>
            {% empty %}
            <ol>Lista pusta</ol>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}